.git
.gitignore
.env
.env.backup
.env.production
node_modules/
vendor/
public/build
public/hot
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
